<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <h2>Manage</h2>
    <div class="option">
        <div class="add" id="add">
            NEW-PRODUCT
        </div>
    </div>
   <div class="add-new" id="add_new">
    <h3 style="text-align: center;">ADD NEW PRODUCT</h3>
        <form enctype="multipart/form-data" id="form" class="form">
            <label for="image" class="view"><img src="" alt="product Image" srcset="" id="img"></label>
            <input type="file" name="image" id="image" style="display:none;">
            <input type="text" name="name" id="name" placeholder="Product Name..">
            <textarea name="detail" id="detail" placeholder="Description..."></textarea>
            <input type="number" name="price" id="price" placeholder="Enter price of each">
            <input type="number" name="count" id="count" placeholder="Enter the counts of product u have">
            <input type="button" value="Add" id="button">
        </form>
    </div>
    <div class="update_product" id="update_product">
        <h3 style="text-align: center;">Update</h3>
        <form enctype="multipart/form-data" id="form" class="form">
            <label for="image" class="view"><img src="" alt="product Image" srcset="" id="img"></label>
            <input type="file" name="image" id="image" style="display:none;">
            <input type="text" name="name" id="name" placeholder="Product Name..">
            <textarea name="detail" id="detail" placeholder="Description..."></textarea>
            <input type="number" name="price" id="price" placeholder="Enter price of each">
            <input type="number" name="count" id="count" placeholder="Enter the counts of product u have">
            <input type="button" value="Add" id="button">
        </form>
    </div>
    <div class="products">
        <div class="table">
            <div class="column-name">
                <div>ID</div>
                <div>Product_Name</div>
                <div>Description</div>
                <div>Price</div>
                <div>Counts</div>
                <div>Preview</div>
                <div></div>
            </div>
            {% for item in datas %}
                <div class="items">
                    <div>{{ item[0] }}</div>
                    <div>{{ item[1] }}</div>
                    <div>{{ item[2] }}</div>
                    <div>{{ item[3] }}</div>
                    <div>{{ item[4] }}</div>
                    <div>
                        <img src="{{ url_for('static', filename=item[5]) }}" alt="">
                    </div>
                    <div class="edit">
                        <div class="delete">DELETE</div>
                        <div class="update" id="update">UPDATE</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

   <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>