body{
    font-size: 15pt;
    background-color: wheat;
}

.success{
    font-size: 1em;
    color: whitesmoke;
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
}

header{
    display: block;
    margin-top: 10px;
    padding: 10px;
}

header .web-name{
    display: inline;
    font-size: 70px;
    font-family: cursive;
    margin: 25px;
    padding: 10px;
    border: 5px solid grey;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 50px;
}

header .menu{
    display: inline;
    float: right;
    margin: 35px;
}

.menu a{
    text-decoration: none;
    color: black;
    border: 1px solid pink;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.menu a:hover{
    background-color: darkgrey;
}

.menu a:visited{
    background-color: grey;
}

.product-section{
    box-sizing: border-box;
    margin: 50px auto;
}


.product-section span{
    position: absolute;
    top: 142px;
    left: 40px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.products{
    text-align: center;
}

.products .card{
    display: inline-block;
    width: 300px;
    height: 350px;
    margin: 50px;
    background-color: bisque;
    border: 1px solid saddlebrown;
    box-shadow: 0 0 10px 10px rgb(27, 27, 48);
    border-radius: 10px;
}

.card .name{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.card .image{
    width: 100%;
}

.image img{
    width: 95%;
    border-radius: 10px;
}

.card .description{
    max-height: 60px;
    font-size: 0.9em;
    overflow: hidden;
}

.card .option{
    margin: 35px auto;
    box-sizing: border-box;
}

.option .more{
    display: inline;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.option .buy-now{
    display: inline;
    background-color: steelblue;
    padding: 10px;
    border-radius: 10px;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

