<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="web-name">Foods N Sale</div>
            <div class="menu">
                <a href="#" title="HOME">HOME</a>
                <a href="#" title="Orders">Orders</a>
                <a href="#" title="Login">Login</a>
            </div>
        </header>
        <div class="product-section">
            <hr>
            <span>Products</span>
        </div>
        <div class="products">
            <div class="product-items">
                <div class="item">
                    <div class="item-pic"><img src="" alt="item-name" srcset="" id="item-src"></div>
                    <div class="item-name" id="item-name"></div>
                    <div class="description" id="description"></div>
                    <div class="option">
                        <div class="show-more">Show More</div>
                        <div class="order">Order</div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-pic"><img src="" alt="item-name" srcset="" id="item-src"></div>
                    <div class="item-name" id="item-name"></div>
                    <div class="description" id="description"></div>
                    <div class="option">
                        <div class="show-more">Show More</div>
                        <div class="order">Order</div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-pic"><img src="" alt="item-name" srcset="" id="item-src"></div>
                    <div class="item-name" id="item-name"></div>
                    <div class="description" id="description"></div>
                    <div class="option">
                        <div class="show-more">Show More</div>
                        <div class="order">Order</div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-pic"><img src="" alt="item-name" srcset="" id="item-src"></div>
                    <div class="item-name" id="item-name"></div>
                    <div class="description" id="description"></div>
                    <div class="option">
                        <div class="show-more">Show More</div>
                        <div class="order">Order</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>