<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block message %}
    <span class="success" style="display: none; padding: 20px;
    top: 0;
    background-color: aqua; 
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: fixed; color: black; font-weight: bold;"></span>
    {% endblock %} 
    </div>
    <div class="container">
        <header>
            <div class="web-name">Foods N Sale</div>
            <div class="menu">
                <a href="/" title="HOME">HOME</a>
                <a href="{{ url_for('view_user_order') }}" title="Orders">Orders</a>
                {% if log_condin == "Logout" %}
                <a href="{{ url_for('logout_session') }}" title="Login">{{ log_condin }}</a>
                {% elif log_condin == "Login" %}
                <a href="{{ url_for('login_form') }}" title="logout">{{ log_condin }}</a>
                {% else %}
                {% endif %}
            </div>
        </header>
        <div class="product-section">
            <hr>
            <span>{% block section_name %}Products{% endblock %}</span>
        </div>
        <div class="product">
                <!-- <div class="item" id="card">
                    <div class="item-pic"><img src="" alt="item-name" srcset="" id="item-src"></div>
                    <div class="item-name" id="item-name"></div>
                    <div class="description" id="description"></div>
                    <div class="option">
                        <div class="show-more">Show More</div>
                        <div class="order">Order</div>
                    </div>
                </div> -->
                {% block content %}
                {% for product in datas %}
                <div class="card">
                    <div class="price">{{ product[3] }} mmks</div>
                    <div class="header"><h3>{{ product[1] }}</h3></div>
                    <div class="card-body">
                        <div class="img">
                        <img src="{{ url_for('static', filename=product[5] ) }}" alt="" srcset="">
                        <div class="description">
                           {{ product[2] }}
                        </div>
                        </div>
                    </div>
                    <div class="footer">
                        <span style="display: none;" id="product_id">{{ product[0] }}</span>
                        <div class="add" id="{{ product[0] }}">ADD TO CART 🛒<b>{{ product[4] }}</b></div>
                    </div>
                </div>
                {% endfor %}
                {% endblock %}
        </div>
    </div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>