{% extends "index.html" %}
{% block section_name %}Orders{% endblock %}
{% block content %}
{% for product in datas %}
        <div class="card">
            <div class="header"><h3>{{ product[1] }}</h3></div>
            <div class="card-body">
            <div class="img">
                <img src="{{ url_for('static', filename=product[5] ) }}" alt="" srcset="">
                <div class="description">
                    {{ product[2] }}
                </div>
            </div>
            </div>
                <div class="footer">
                    <div class="add">Confirm Order</div>
                </div>
        </div>
                {% endfor %}
{% endblock %}