{% extends "index.html" %}
{% block message %}
    <span class="message" style="display: none; padding: 20px;
    top: 0;
    background-color: aqua; 
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: fixed; color: black; font-weight: bold;"></span>
{% endblock %}
{% block section_name %}Orders{% endblock %}
{% block content %}
<div class="user_orders"></div>
<script src="{{ url_for('static', filename='js/confirm.js') }}"></script>
{% endblock %}